# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: List available Xcode versions
      run: ls /Applications | grep Xcode
    - name: Show current version of Xcode
      run: xcodebuild -version
    - name: Set up Xcode version
      run: sudo xcode-select -s /Applications/Xcode_26.0.1.app/Contents/Developer
    - name: Show current version of Xcode
      run: xcodebuild -version
    - name: Install Bundle
      run: bundle install
    - name: Run unit tests
      run: bundle exec fastlane run_unit_tests --verbose
